<%- include header.html%>
<div>

  <h3><%= description %> </h3>

  <div class="container">

    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">_id</th>
          <th scope="col">Name</th>
          <th scope="col">On sale</th>
          <th scope="col">Price</th>
          <th scope="col">Tags</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>

        <% if (adverts.length > 0) { %>
          <% adverts.forEach(advert => { %>
            <tr>
              <th scope="row"><%= advert._id %> </th>
              <td><%= advert.name %></td>
              <td><%= advert.onsale %></td>
              <td><%= advert.price %></td>
              <td><%= advert.tags %></td>
              <td><img src="images/<%=advert.photo %>"></td>
            </tr>
          <% }) %>
         <% } %>
      </tbody>
    </table>
</div>

<div>
  <h4>These are some examples:</h4>
  <ul>
    <li>
      <a href="?sort=price">Ordered from lowest to highest price.</a>
    </li>
    <li>
      <a href="?sort=name">Results in alphabetical order.</a>
    </li>
    <li>
      <a href="?price=-1000">Articles with prices less than 1000.</a>
    </li>
    <li>
      <a href="?price=1000-">Articles with prices over 1000.</a>
    </li>
    <li>
      <a href="?price=5000">All results with a price equal to 5000.</a>
    </li>
    <li>
      <a href="?tag=lifestyle">All results with the tag  "lifestyle".</a>
    </li>
  </ul>
</div>

<%- include footer.html %>
