<%- include header.html%>
<div>

  <h3><%= description %> </h3>

  <div class="container">

    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">_id</th>
          <th scope="col">Name</th>
          <th scope="col">On sale</th>
          <th scope="col">Price</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>

        <% if (adverts.length > 0) { %>
          <% adverts.forEach(advert => { %>
            <tr>
              <th scope="row"><%= advert._id %> </th>
              <td><%= advert.name %></td>
              <td><%= advert.onsale %></td>
              <td><%= advert.price %></td>
              <td><%= advert.photo %></td>
            </tr>
          <% }) %>
         <% } %>

      </tbody>
    </table>
</div>

<form action="">

</form>


<%- include footer.html %>
