<%- include header.html%>
<div>
  <h2><%= description %> </h2>

  <div class="container">

    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">_id</th>
          <th scope="col">Name</th>
          <th scope="col">Onsale</th>
          <th scope="col">Price</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>

        <% if (arrayAdvertsDB.length > 0) { %>
          <% arrayAdvertsDB.forEach(advert => { %>
            <tr>
              <th scope="row"><%= advert._id %> </th>
              <td><%= advert.name %></td>
              <td><%= advert.onsale %></td>
              <td><%= advert.price %></td>
              <td><%= advert.photo %></td>
            </tr>
          <% }) %>
         <% } %>

      </tbody>
    </table>


</div>

<%- include footer.html %>
