<%- include header.html%>

<h1 align="center">Welcome to NodepopJS 👋</h1>
<p>
  <img
    alt="Version"
    src="https://img.shields.io/badge/version-1.0.0-blue.svg?cacheSeconds=2592000"
  />
</p>

<section align="center">
  <article>
    <p>
      <em>Nodepop</em> is an API-REST, it can be used by other developers.<br />
      The service maintains ads for buying and selling items and allows you to
      search using various filters.
    </p>

    <p>
        For the correct use of the API, consult the Readme.md, where you will <br>find all the methods and possibilities available.
    </p>

    <form action="http://localhost:3000/adverts">
        <button type="submit" class="btn btn-info">Get all adds</button>  
    </form>

</section>

<%- include footer.html %>
